/* !===============================
// Font downloaded from: https://gwfh.mranftl.com/fonts/figtree?subsets=latin
!=============================== */

/* figtree-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-italic - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 400;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-500 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-500italic - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 500;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-600 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-600italic - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 600;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-700 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-700italic - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 700;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-800 - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* figtree-800italic - latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 800;
    src: url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('figtree-v4-latin_latin-ext/figtree-v4-latin_latin-ext-800italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

     /* !===============================
     // Almarai
     !=============================== */
  @font-face {
      font-display: swap;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 400;
      src: url('almarai/Almarai-Regular.ttf') format('truetype');
  }
  
  @font-face {
      font-display: swap;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 700;
      src: url('almarai/Almarai-Bold.ttf') format('truetype');
  }
  
  @font-face {
      font-display: swap;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 300;
      src: url('almarai/Almarai-Light.ttf') format('truetype');
  }
  
  @font-face {
      font-display: swap;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 800;
      src: url('almarai/Almarai-ExtraBold.ttf') format('truetype');
  }

/* !===============================
// Noto Sans
!=============================== */

/* noto-sans-300 - vietnamese */
@font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: normal;
     font-weight: 300;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-300.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-300.ttf') format('truetype'); 
   }
   /* noto-sans-300italic - vietnamese */
   /* @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: italic;
     font-weight: 300;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-300italic.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-300italic.ttf') format('truetype'); 
   } */
   /* noto-sans-regular - vietnamese */
   @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: normal;
     font-weight: 400;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-regular.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-regular.ttf') format('truetype'); 
   }
   /* noto-sans-italic - vietnamese */
   /* @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: italic;
     font-weight: 400;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-italic.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-italic.ttf') format('truetype'); 
   } */
   /* noto-sans-500 - vietnamese */
   @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: normal;
     font-weight: 500;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-500.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-500.ttf') format('truetype'); 
   }
   /* noto-sans-500italic - vietnamese */
   /* @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: italic;
     font-weight: 500;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-500italic.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-500italic.ttf') format('truetype'); 
   } */
   /* noto-sans-700 - vietnamese */
   @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: normal;
     font-weight: 700;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-700.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-700.ttf') format('truetype'); 
   }
   /* noto-sans-700italic - vietnamese */
   /* @font-face {
     font-display: swap; 
     font-family: 'Noto Sans Vietnamese';
     font-style: italic;
     font-weight: 700;
     src: url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-700italic.woff2') format('woff2'), 
          url('noto-sans-v36-vietnamese/noto-sans-v36-vietnamese-700italic.ttf') format('truetype'); 
   } */